<div class="card2">
    <header class="card-header2">
        <p id={{id}} class="card-header-title" contenteditable="true" data-id="{{id}}">{{{name}}}</p>
    </header>
    <div class="card-content2">
        <div class="content2">
            <p>Ingredients:</p>
            <div class="control has-icons-left has-icons-right Ingredients">
                <div class="text-input-for-recipe3"  contenteditable="true">{{{ingredients}}}</div>
            </div>
            <br>
            <p1 >How To Cook:</p1>
            <div class="control has-icons-left has-icons-right directions">
                <div class="text-input-for-recipe2" contenteditable="true">{{{instructions}}}</div>
            </div>
            <div class="btn-container"><button class="button m-1 is-success is-outlined save-recipe"><i>Save</i></button><button
                    class="button m-1 is-warning is-outlined favorite-btn"><i>
                        {{#if favorite}}
                        ⭐ Remove Favorite
                        {{else}}
                        Mark as Favorite
                        {{/if}}
                    </i></button><button class="button m-1 is-danger is-outlined remove-recipe-btn"><i>Remove
                        recipe</i></button>
            </div>
        </div>
    </div>
</div>
</div>